.hidden {display:none;}

.data-table {width:100%;line-height:14px;font-size:11px;color:#303030;clear:both;border-collapse:separate;border:1px solid #d0d0d0;border-top:0;}
.data-table th {vertical-align:middle;text-align:center;color:#656565;background:#e9e9e9;padding:6px 9px 6px;font-weight:normal;height:38px;cursor: pointer;}
.data-table th.asc {
	background: -webkit-gradient(linear, 0 0, 0 70%, from(#b0b0b0), to(#dadada));
	background: -webkit-linear-gradient(#b0b0b0, #dadada 15%);
	background: -moz-linear-gradient(#b0b0b0, #dadada 15%);
	background: -ms-linear-gradient(#b0b0b0, #dadada 15%);
	background: -o-linear-gradient(#b0b0b0, #dadada 15%);
	background: linear-gradient(#b0b0b0, #dadada 15%);
}
.data-table th.desc {
	background: -webkit-gradient(90, linear, 0 0, 0 15%, from(#b0b0b0), to(#dadada));
	background: -webkit-linear-gradient(90deg, #b0b0b0, #dadada 15%);
	background: -moz-linear-gradient(90deg, #b0b0b0, #dadada 15%);
	background: -ms-linear-gradient(90deg, #b0b0b0, #dadada 15%);
	background: -o-linear-gradient(90deg, #b0b0b0, #dadada 15%);
	background: linear-gradient(90deg, #b0b0b0, #dadada 15%);
}
.data-table td {padding:4px 9px;text-align:center;height: 16px;}
.data-table .col-checkbox	{width:21px;}

.data-table input,
.data-table textarea {width:100%;margin:-2px -5px;padding:1px 3px;border-width:1px;}

.data-table .even td {background: #fafafa;}

.data-table tfoot .desc,
.data-table tfoot .asc,
.data-table tbody .desc,
.data-table tbody .asc {background: #fafafa;}
.data-table tfoot .even .desc,
.data-table tfoot .even .asc,
.data-table tbody .even .desc,
.data-table tbody .even .asc {background: #f2f2f2;}

.data-table tbody .hovered .desc,
.data-table tbody .hovered {background: #ecf0f5;}
.data-table tbody .selected .desc,
.data-table tbody .selected .asc,
.data-table tbody .focused .desc,
.data-table tbody .focused .asc {background: #d6e5f5;}


.data-table tbody .col-checkbox.col-first,
.data-table tbody .even .col-checkbox.col-first,
.data-table tbody .col-checkbox,
.data-table tbody .even .col-checkbox	{background: #fbfbfb;}

.data-table thead .checkbox {
	background-image: url(icons.png);
	background-position: 0px 0px;
	margin: 0 auto;
	height: 12px;
	width: 19px;
	display: block;
	min-height: 22px;
	min-width: 19px;
	padding: 0px;
}
.data-table thead .checkbox.checked{background-position: -20px 0}
.data-table thead .checkbox.checked-all{background-position: -40px 0}


.data-table tbody .checkbox {
	background-image: url(icons.png);
	background-position: -59px -10px;
	margin: 0 auto;
	height: 11px;
	width: 12px;
	display: block;
	min-height: 11px;
	min-width: 12px;
	padding: 0px;
}
.data-table tbody .checkbox.checked {
	background-position: -59px 0;
}

.data-table tfoot td {color: #ae0000; font-weight: bold;}

.data-table.green-selection .selected td	{background-color:#f4ffdc !important;}
.data-table.green-selection .selected .col-checkbox,
.data-table.green-selection .selected .col-selected {background: #B4D373 !important;}

.data-table input.error,
.data-table .hovered input.error,
.data-table .focused input.error,
.data-table .selected input.error	{color:red!important;}

.data-table .editable.invalid input {color: red!important; border-color: red!important;;}

.data-table tr.hovered td {background-color: #ecf0f5}
.data-table tr.focused td	{background-color:#d6e5f5}
.data-table tr.selected td	{background-color:#d6e5f5}


.data-table tbody tr.has-subrow td,
.data-table tbody tr.subrow td {background: none}
.data-table tbody tr.has-subrow td {border-top: 1px solid #D0D0D0;background: none}
.data-table tbody tr.subrow td {border-bottom: 1px solid #D0D0D0;background: none}


/* fake rows */
.data-table tr.fake .col-checkbox .checkbox{display: none;}

/* widgets*/
.widgets {position: relative;}


/* pager */

.dpager {position: relative; top: 0;font-size: 15px; line-height: normal; margin: 22px 0 20px;margin-left:40%;}
.dpager ul {position: relative; top: 0; right: -50%; margin: 0; list-style: none;}
.dpager ul li {float: left; margin: 0 2px; font-weight: bold; border-radius: 2px; padding: 0;}
.dpager ul li a {color: #cc0033; display: block; float: left; padding: 3px 6px 3px 5px;}
.dpager ul li.active {background: url("../images/pager-a.gif") left top repeat; border-radius: 2px;}
.dpager ul li.active a {color: #fff; text-decoration: none;}
.dpager ul li.selected {border: 1px dotted #7f7f7f;}
.dpager ul li.selected a {padding: 2px 5px 2px 4px;}

.dpager .to-prev {font-size: 9px; line-height: normal; padding: 7px 11px 5px 0; font-weight: normal;}
.dpager .to-prev a {color: #666; background: url("../images/arrow-3.gif") left 2px no-repeat; padding: 0 0 0 10px;}
.dpager .to-prev .dotted-span span {border-color: #666;}
.dpager .to-next {font-size: 9px; line-height: normal; padding: 7px 0 5px 11px; font-weight: normal;}
.dpager .to-next a {color: #666; background: url("../images/arrow-4.gif") right 2px no-repeat; padding: 0 10px 0 0;}
.dpager .to-next .dotted-span span {border-color: #666;}

.aqPaging a	{color:#CD0204;font-size:15px!important;font-weight:bold;margin:0 2px!important;padding:4px 5px!important;line-height:17px!important;display:block;float:left;border:1px solid #FFF;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;width:auto!important;}
.aqPaging i	{color:#ae0035;font-size:15px;font-weight:bold;margin:0 2px;padding:5px 6px;line-height:17px;display:block;float:left;}
.aqPaging a span	{text-decoration:underline}
.aqPaging a:hover	{border:1px dotted #7d7d7d}
.aqPaging a.current	{background: #cd0204;color:#FFF!important}
.aqPaging a.current span	{background: #cd0204;}
.aqPaging a.prev,
.aqPaging a.next	{text-decoration:none;font-weight:normal;}
.aqPaging a.prev span,
.aqPaging a.next span	{color:#666;text-decoration:none;border-bottom:1px dotted #666;}
.aqPaging a.prev ins,
.aqPaging a.next ins	{width:7px;height:11px;background-position:-171px 0;float:left;margin:3px 5px 0 0;}
.aqPaging a.next ins	{background-position:-179px 0;float:right;margin:3px 0 0 5px;}

