.widget.action-buttons {display: inline-block; vertical-align: top}
.widget.action-buttons .button {opacity: 0.3; background: #f6f6f6}
.widget.action-buttons.active .button {opacity: 1}
.widget.action-buttons .always-active.button {opacity: 1}
.widget.action-buttons .clear-selection {float:right;}
.widget.action-buttons .right {float: right;}
.widget.action-buttons .left {float: left;}